:root{
    --primary-color:#090909;
    --secondary-color:rgb(133, 201, 201);
    --foreground-color:#ffffff;
    --font-family-global:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-explanation:none;
}
h2{
    color:var(--secondary-color);
}
.section{
    border:2px;
    border-radius: 10px;
    padding:20px;
    margin:10px;
    box-sizing: border-box;
    background-color:black;
    color: var(--foreground-color);
    text-align: center;
    width:50%;
    font-family: var(--font-family-global);
    margin-left: 300px;
}
.img1, .img2{
    height:100px;
    width:100px;
    margin:10px;
    border: 2px;
    border-radius: 10px;
}
.img3{
    height:auto;
    width:350px;
    border: 2px;
    border-radius: 10px;
}
.display{
    display:flex;
}
.button2{
    border:2px;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 100px;
}
.button2:hover {
    opacity:50%;
    text-decoration: none;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .display {
        flex-direction: column; 
    }
    .img3 {
        width: 100%; 
        height: auto;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .display {
        flex-direction: column; 
    }
    .img3 {
        width: 100%; 
        height: auto;
    }
}
