:root {
  --color-black: #090909;
  --font-family-title: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-size-xxx-large: 6rem;
  --font-weight-bold: 700;
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
}
.section-title2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-bold);
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}
@keyframes slide-in-out-Animation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
      }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }

  }  
  .slide-in-out {
    animation: slide-in-out-Animation 7s ease-in-out forwards;
  }
@media only screen and (max-width: 768px) {
  .curtain {
    width: 100%; 
    height: 50vh; 
    background-color: rgb(38, 106, 106);
  }
  .section-title2 {
    font-size: 2.5rem;
  }

  .slide-in-out {
    animation-duration: 5s; 
  }
}/*
@media only screen and (max-width: 768px) {

  .curtain {
    width: 100%;
  }

  .section-title {
    font-size: 3rem; 
  }
  .slide-in-out {
    animation-duration: 5s;
  }

}*/



  




  /* Adding small dots to the curtains */
.curtain {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: rgb(38, 106, 106);
  z-index: 9999;
  transition: width 2s ease;
  overflow: hidden; /* Hides the overflowing dots */
}

.left-curtain {
  left: 0;
  background-image: radial-gradient(
    circle at 25% 25%,
    black 100%,
    transparent 12%
  );
}

.right-curtain {
  right: 0;
  background-image: radial-gradient(
    circle at 75% 25%,
    black 10%,
    transparent 12%
  );
}
/* Additional CSS */
.slide-in-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  text-align: center;
}