:root{
    --primary-color:#090909;
    --secondary-color:rgb(133, 201, 201);
    --foreground-color:#ffffff;
    --font-family-global:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-explanation:none;
    --font-size-large: 1.8rem;
    --button-display: inline-block;
    --button-padding: 1rem 2rem;
    --button-border: 0.2rem;
    --button-color: var(--primary-color);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--primary-color);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--secondary-color);
  }
  .section{
    padding:20px;
    box-sizing: border-box;
    background-color:black;
    color: var(--foreground-color);
    text-align: center;
    width:100%;
    font-family: var(--font-family-global);
    margin-top:-60px;
  }
  .img3{
    height:auto;
    width:260px;
    border: 2px;
    border-radius: 10px;
  }
  .index{
  width:50%;
  }
  .hover-menu {
    position: relative;
    display: inline-block;
  }
  
  .hover-button {
    cursor: pointer;
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border) solid var(--color-primary);
    border-radius: 2px;
    font-size: var(--button-font-size);
    background-color: var(--button-color);
    text-decoration: var(--button-text-decoration);
    color:white;
  }
  
  .options {
    display: none;
    position: absolute;
    background-color: var(--button-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    color:white;
  }
  
  .hover-menu:hover .options {
    display: block;
  }
  
  .options a {
    display: block;
    color: #bb1414;
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .options a:hover {
    background-color: black;
  }
  
  @media only screen and (max-width: 768px) {
    .section {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: -200px;
    }
  
    .img3 {
      width: 200px;
      height: auto;
    }
    .index{
      width:70%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .section {
      width: auto; 
      margin-left: auto;
      margin-right:auto;
      margin-top: -200px;
    }
  
    .img3 {
      width: 150px;
      height: auto;
    }
    .index{
      width:70%;
    }
  }
  