@import 'style.css';
:root{
    --button-official-padding: 20px;
    --button-official-border: solid 2px var(--color-black);
    --button-official-border-radius:4px;
    --button-official-color: var(--color-white);
    --button-official-background-color: var(--color-black);
    --button-official-hover-background: var(--color-black);
    --button-official-hover-color: var(--color-white);
    --button-custom-padding: 20px;
    --button-custom-border: none;
    --button-custom-border-radius:4px;
    --button-custom-color: var(--color-white);
    --button-custom-background-color: var(--color-black);
    --button-custom-hover-transition: opacity 0.2s ease-in;
    --button-custom-hover-opacity: 70%;
    /*##############*/
    --button-display: inline-block;
    --button-padding: 0.5rem 1rem;
    --button-border: 0.2rem;
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--primary-color);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--secondary-color);

}
.button-official {
    padding: var(--button-official-padding);
    background-color: var(--button-offical-background-color);
    color: var(--button-official-color);
    border: var(--button-official-border);
    border-radius: var(--button-official-border-radius);
    cursor: pointer;
}
.button-official:hover {
   background-color: var(--button-official-hover-background);
   color: var(--button-official-hover-color);
}
.button-custom {
    padding: var(--button-custom-padding);
    border: var(--button-custom-border);
    background-color: var(--button-custom-background-color);
    color: var(--button-custom-color);
    border-radius: var(--button-custom-border-radius);
    cursor: pointer;
    transition: var(--button-custom-hover-transition);
}
.button-custom:hover {
    opacity: var(--button-custom-hover-opacity);
    border: 1px solid var(--color-white);
}

.button-special{
    display: none;
    background-color: var(--button-custom-background-color);
    color: var(--button-custom-color);
    border: 1px solid var(--color-white);
    padding: var(--button-custom-padding);
}
.button-special:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*Three dotted button for task-organizer in index-project-page*/
.event-options {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.options-btn {
    background: var(--color-white-new);
    border: none;
    color: var(--color-txt);
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
}

.options-dropdown {
    background-color: var(--color-white-new);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.options-dropdown a {
    color: var(--color-txt);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.options-dropdown a:hover {
    background-color: var(--dark-hover);
}
.event-options:hover .options-dropdown {
    display: block;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}

input[type="checkbox"] {
    --tick-color: var(--primary-color);
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px; 
    border: 1px solid #555; 
    border-radius: 3px; 
    outline: none; 
    transition: background-color 0.3s;

    /* Use a pseudo-element to create the tick */
    &:checked::before {
        content: '\2713'; /* Unicode character for checkmark */
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 14px; 
        color: var(--tick-color);
    }
}
input[type="checkbox"]:hover {
    background-color: var(--color-white);
}

.button-tasks{
    display: flex;
    justify-content: space-between;
}
/*######OPtions button part 2#########*/
.hover-menu {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .hover-button {
    cursor: pointer;
    display: var(--button-display);
    padding: var(--button-padding);
    border: none;
    border-radius: 5px;
    font-size: var(--button-font-size);
    background-color: var(--button-color);
    text-decoration: var(--button-text-decoration);
    color:white;
    opacity:90%;
  }
  .hover-button:hover{
    transition: opacity 0.2s ease-in;
    opacity: 70%;
    border: 1px solid var(--color-white);
  }
  
  .options {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0px;
    z-index: 1;
    color:white;
    background-color: var(--color-black);
  }
  /*display options*/
  .hover-menu:hover .options {
    display: block;
  }
  
  .options a {
    display: block;
    text-decoration: none;
    padding: 8px;
    font-family: var(--font-family-base);
    font-size: 0.8rem;
  }
  
  .options a:hover {
    background-color: var(--color-black);
    transition: opacity 0.2s ease-in;
    opacity: 70%;
    border: 1px solid var(--color-white);
  }
/*################*/


/*Hamburger navigation bar */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    margin: 3px 0;
}
.center-button{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .button-special{
        display:flex;
        margin:20px;
    }
    .hover-menu {
        display: block;
    }
    
    .hover-button {
        display: block;
        width: 100%;
        padding:20px;
    }
    
    .options {
        position: relative;
    }
    .options a{
        padding:20px;
    }
}
@media (max-width: 460px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--color-white-new);
        z-index: 1;
    }
    .nav-list.show {
        display: block;
    }

    .nav-list li {
        padding: 10px;
    }
    .button-special{
        display:flex;
    }
    .hover-button {
        padding:10px;
        font-size: 0.9rem;
      }
    
      .options a {
        padding: 10px;
      }
}
