@import 'style.css';

.gauge-container {
    position: relative;
    width: 280px;
    height: 280px;
    opacity: 50%;
}

.gauge {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--color-grey) 0% 30%, var(--color-white-new) 30% 70%, rgb(81, 74, 74) 70% 100%);
    animation: rotateGauge 3s linear infinite;
}

.inner-circle {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oppose {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: conic-gradient(var(--primary-color) 0% 50%, var(--color-black) 50% 100%);
    animation: rotateOppose 3s linear infinite;
}
.inner-oppose {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.needle {
    width: 4px;
    height: 45%;
    background-color: #333;
    border-radius: 2px;
    transform-origin: bottom;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

.tick {
    position: absolute;
    width: 2px;
    height: 10%;
    background-color: #333;
    top: 5%;
    left: 49.5%;
    transform-origin: bottom;
    transform: rotate(0deg);
    animation: rotateTicks 7s linear infinite;
}
.acceleration-value {
    font-size: 50px;
    font-weight: bold;
    color: #333;
}

@keyframes rotateGauge {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotateOppose {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

@keyframes rotateTicks {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 460px) {
    .gauge-container {
        width: 250px;
        height: 250px;
    }
}