:root{
    --primary-color:#090909;
    --secondary-color:rgb(38, 106, 106);
    --foreground-color:#ffffff;
    --font-family-global:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-explanation:none;
}
html{
    background-color: var(--primary-color);
}
h2{
    color:var(--secondary-color);
}
.section{
    border:2px;
    border-radius: 10px;
    padding:20px;
    margin:0px;
    box-sizing: border-box;
    background-color:black;
    color: var(--foreground-color);
    text-align: center;
    width:100%;
    font-family: var(--font-family-global);
}

.display{
    display:flex;
}
.button2{
    border:2px;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 100px;
}
.button2:hover {
    opacity:50%;
    text-decoration: none;
}


