:root{
    /****Universal****/
    --primary-color:rgb(131, 84, 202);
    --standby-color:rgb(131, 84, 202);
    --color-black: rgb(0, 0, 0);
    --color-black-new:#373535;
    --color-jungle:#0c2416;
    --transparent-black: rgba(0, 0, 0, 0.6);
    --transparent-black-new: rgba(0, 0, 0, 0.9);
    --transparent-black-vary: rgba(0, 0, 0, 0.4);
    --color-grey:grey;
    --color-white:#ffffff;
    --color-white-new:#ccc;
    --color-blue:rgb(79, 79, 211);
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-official: 'Times New Roman', Times, serif;
    /**Child-Universal**/
    --body-background-color:#ccc;
}
body, html {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
}
