<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
    <link rel="stylesheet" href="../static/css-project-page/Hero.css">
    <link rel="stylesheet" href="../static/css-project-page/style.css">
    <link rel="stylesheet" href="../static/css-project-page/button.css">
    <link rel="stylesheet" href="../static/css-project-page/all_tasks.css">
    <link rel="stylesheet" href="../static/css-project-page/calender.css"> 
    <link rel="stylesheet" href="../static/css-project-page/event.css">
    <title>All tasks</title>
</head>
<body>
    <div class="Hero-container">
        <header>
            <div class="child-Hero-container">
                <div class="Logo">
                    <a href="{{ url_for('dashboard') }}"><img src="../static/images/Logo/dark-blue-light.png" alt="Logo" width="120px" height="auto"></a>
                </div>
                <nav id="nav-links" class="hide-links">
                    <!-- Hamburger icon for screens with max-width: 460px -->
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <!-- Normal navigation for screens larger than 460px -->
                    <ul class="nav-list">
                        <li><a href="{{ url_for('dashboard') }}">Home<span></span></a></li>
                        <li><a href="{{ url_for('login') }}">Log out<span></span></a></li>
                    </ul>
                </nav>
                <script src="../static/js/hamburger-menu.js"></script>                    
            </div>
        </header>
    </div>
    <div class="todays-tasks-child-first">
        <div class="visible">
            <h1 class="todays-tasks-subtitle">All tasks</h1>  
        </div>              
        <!-- Display user events -->
        {% if events %}
            {% for event in events %}
                <div class="todays-tasks-child-first-content">                                    
                    <h2 class="todays-tasks-child-first-content-title">Event name: {{ event.event_name }}</h2>                
                    <p class="todays-tasks-child-first-content-description">{{ event.event_description }}</p>
                    <p class="todays-tasks-child-first-content-date">Date: {{ event.event_date }}</p>
                    <div class="event-options">                                        
                        <button class="options-btn" onclick="toggleOptions('{{ event.event_id }}')">...</button>                                        
                        <div class="options-dropdown" id="options{{ event.event_id }}">
                            <a href="{{ url_for('edit_event', event_id=event.event_id) }}" onclick="return confirm('Did you mean to edit this event?')">Edit</a>
                            <!--a href="#" onclick="deleteEvent(1)">Delete</a-->
                            <a href="{{ url_for('delete_event', event_id=event.event_id) }}" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
                            <!--script src="../static/js/delete_event.js"></script-->                                            
                        </div>
                        <label style="color: var(--color-white);">
                            <input type="checkbox" id="myCheckbox{{ event.event_id }}" {% if event.is_done %}checked{% endif %} onclick="updateTaskState('{{ event.event_id }}')">
                            Done
                        </label>                                                                                
                        <script src="../static/js/checkbox.js"></script>
                    </div>
                </div>
                <br>                                
            {% endfor %}
        {% else %}
            <p class="todays-tasks-child-first-content-title">No events created.</p>
        {% endif %}
        <br>
        <br>
        <a href="{{ url_for('dashboard') }}"><button class="button-custom">Go back home</button></a>                                            
    </div>
   
    
</div>
</body>
</html>
