<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
  <title>Create account</title>
  <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
  <link rel="stylesheet" href="../static/css/Account/Welcome-create-account.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/index/button.css">
  <link rel="stylesheet" href="../static/css/index/Hero.css">
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-child-container">
            <h1 class="welcome-title">Welcome!</h1>
            <p>We're delighted that you're ready to embark on your productivity journey with us. Before we get started, we'd love to get to know you better. </p>
            <a href="{{ url_for('create_account_names') }}"><button class="button-custom">Continue</button></a>
            <br>
            <br>
            <a href="{{ url_for('login_account') }}"><h2 class="login-title">Did you mean to login?</h2></a>
        </div>
    </div>
</body>
</html>
