<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
        <title>User Home</title>
        <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/index/Hero.css"> 
        <link rel="stylesheet" href="../static/css/index/button.css">  
        <link rel="stylesheet" href="../static/css/index/invite.css">
        <link rel="stylesheet" href="../static/css/index/works.css">
    </head>
    <body>
        <div class="works-container">
            <div class="services">
                <h1 class="services-title">Our Services</h1>
                <h1 class="services-subtitle">What we do</h1>
            </div>
            <section id="Task priority">
                <div class="task-priority-container">
                    <img class="task-priority-image" src="../static/images/Unsplash/task-priority-image.jpg" alt="task-priority-image">
                    <div class="task-priority-content">
                        <h1 class="works-title">Unlocking Productivity: Task Priority</h1>
                        <p class="works-subtitle">Welcome to the beating heart of your Personal Task Manager – the Task Priority section. Here, you're not just managing tasks; you're orchestrating your journey to peak productivity.</p>                            
                        <p class="works-subtitle">Ever feel overwhelmed by a barrage of to-dos? Fear not. Task Priority empowers you to sift through the noise and zero in on what truly matters. Your tasks, your priorities – effortlessly managed in one place.</p>                            
                        <p class="works-subtitle">Imagine a world where your high-priority tasks seamlessly sync with your calendar. Clicking into Task Priority opens the door to this seamless integration. No more juggling between apps – your schedule and tasks dancing in perfect harmony.</p>                            
                        <p class="works-subtitle">But we've taken it a step further. Receive instant event confirmation emails, a virtual high-five confirming that your tasks are not just acknowledged but intricately woven into your schedule.</p>                           
                        <p class="works-subtitle">Take a moment to breathe. Your deadlines are no longer stress-inducing – they're conquerable milestones. Task Priority is your personal navigator through the maze of responsibilities, ensuring you navigate with finesse.</p>                            
                        <p class="works-subtitle">So, as you explore this page, remember – it's not just about completing tasks; it's about mastering your time, achieving your goals, and making productivity an art. Your journey starts here. Welcome to a world where you control the rhythm of your day.</p>
                    </div>
                </div>
            </section>
            <section id="productivity analysis">
                <div class="productivity-analysis-container">
                    <div class="productivity-analysis-content">
                        <h1 class="works-title">Unleash Efficiency: Productivity Analysis</h1>
                        <p class="works-subtitle">In the realm of productivity, knowledge is power, and the Productivity Analysis section is your key to unlocking actionable insights. This isn't just about tracking time; it's about sculpting a more efficient version of your workflow.</p>                           
                        <p class="works-subtitle">Imagine effortlessly monitoring your time, task response, and task completion times—all in one unified space. This isn't just data; it's a panoramic view of your productivity landscape. Click into Productivity Analysis, and you're not just a task manager; you're a strategic commander of your time.</p>                            
                        <p class="works-subtitle">Gain access to a treasure trove of data-driven insights that transcend mere numbers. Dive deep into your work patterns, identify trends, and emerge with a newfound understanding of how you operate at your best. It's not just information; it's the roadmap to your optimal productivity.</p>                            
                        <p class="works-subtitle">But it's not about drowning in data; it's about clarity. Productivity Analysis equips you with the tools to optimize your workflow. Spot inefficiencies, streamline processes, and become the architect of your productivity masterpiece. </p>                           
                        <p class="works-subtitle">Stay informed – not just on what you're doing but on how to do it better. Make decisions rooted in insights, not assumptions. Productivity Analysis isn't just a feature; it's your advisor, your data-driven companion on the journey to peak efficiency. </p>                           
                        <p class="works-subtitle">Elevate your productivity game with our comprehensive analysis tools. It's not just about managing tasks; it's about orchestrating your work with precision, making every second count. Welcome to a space where data meets strategy, and productivity becomes an art.</p>
                    </div>
                    <img class="productivity-analysis-image" src="../static/images/Unsplash/productivity-image.jpg" alt="productivity-analysis-image">
                </div>
            </section>
            <section id="goal-tracking">
                <div class="goal-tracking-container">
                    <img class="goal-tracking-image" src="../static/images/Unsplash/goals-image.jpg" alt="goal-tracking-image">
                    <div class="goal-tracking-content">
                        <h1 class="works-title">Chart Your Course: Goal Tracking</h1>
                        <p class="works-subtitle">Welcome to the compass of your aspirations, the Goal Tracking section – more than a feature, it's a journey of self-discovery and growth. Here, you don't just set goals; you cultivate a roadmap for the best version of yourself.</p>                           
                        <p class="works-subtitle">Ever thought about sending letters to your future self? Now you can, weaving a narrative that connects your present with the aspirations of your future. Goal Tracking is your personal time capsule, a space where dreams take root and milestones become stepping stones.</p>                            
                        <p class="works-subtitle">Set and achieve milestones that matter to you. This isn't just about completing tasks; it's a celebration of progress, a testament to your commitment to personal growth. Click into Goal Tracking, and you're not just setting goals; you're fostering a culture of continuous self-development.  </p>                          
                        <p class="works-subtitle">But it's not just about reaching the destination; it's about the journey. Explore curated recommendations for insightful books and impactful speeches – a wellspring of wisdom to fuel your personal growth. It's not just information; it's the fuel for your evolution.</p>                         
                        <p class="works-subtitle">Transform your ambitions into reality with a dedicated space that empowers you to plan, reflect, and progress. Goal Tracking isn't just a tool; it's a companion in your pursuit of greatness, helping you navigate the twists and turns of personal development.</p>                         
                        <p class="works-subtitle">This isn't just about managing goals; it's about orchestrating a symphony of self-improvement. Welcome to a space where dreams are nurtured, milestones celebrated, and personal growth isn't a destination but a continuous, enriching journey.</p>
                    </div>
                </div>
            </section>
            <div class="contact-button">
                <a href="{{ url_for('index_landing') }}"><button class="button-official">Back to dashboard</button></a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
</html>