@import 'style.css';

.my-account-container {
    max-width: auto;
    height:auto;
    margin: 0px;
    padding: 20px;
    background-image: url('../images/Logo/dark-blue-light.png');
    background-size: cover;
}
.my-account-details {
    margin-left: 50px;
    margin-top: 20px;
    color: var(--color-white);
    font-family: var(--font-family-base);
    flex-direction: column;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group label {
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-group input {
    width:auto;
    padding:10px;
}


.my-account-details p {
    margin: 10px 0;
}

.my-account-details strong {
    margin-right: 10px;
    font-weight: bold;
}
.dob-input-group {
    position: relative;
}

.hidden-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .my-account-container {
        max-width: auto;
    }

    .my-account-title {
        font-size: 1.5rem;
    }

    .my-account-details p {
        font-size: 0.9rem;
    }
}

@media (max-width: 460px) {
    .my-account-container {
        max-width: auto;
        margin:0px;
        padding:10px;
    }

    .my-account-title {
        font-size: 1.2rem;
    }
    .my-account-details {
        margin-left: 0px;
    }

    .my-account-details p {
        font-size: 0.8rem;
    }
}