@import 'style.css';

:root {
    --background-todays-tasks-image: url('../images/Logo/Light-cyan.png');
}

.todays-tasks-child-first {
    margin: 0px;
    width: auto;
    height:480px;
    padding:20px;
    border: 0px solid;
    border-radius: 0px;
    background-color: var(--color-black);
    overflow-y: auto;
    background-image: url('../images/Unsplash/street.jpg');
    background-size: cover;
}
.todays-tasks-child-first-content{
    width:500px;
    border:none;
    padding:20px;
    border-radius: 5px;
    background-color: var(--color-black-new);
    opacity: 90%;
}
.todays-tasks-child-first-content:hover{
    transition: opacity 0.2s ease-in;
    opacity: 90%;
}
.todays-tasks-child-first-content-title{
    color: var(--color-white-new);
    font-size: 0.9rem;
    font-family: var(--font-family-base);
}
.todays-tasks-child-first-content-description{
    color: var(--color-white);
    font-size: 0.8rem;
    font-family: var(--font-family-base);
}
.todays-tasks-child-first-content-date{
    color: var(--color-white);
    font-size: 0.8rem;
    font-family: var(--font-family-official);
}

.todays-tasks-title {
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-official);
}

.todays-tasks-subtitle {
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-base);
}
.visible{
    background-color: black;
    width:500px;
    padding:5px;
    opacity: 60%;
    margin-bottom: 5px;
}

/**@media**/

@media (max-width: 768px) {
    .todays-tasks-container {
        padding: 10px;
    }

    .todays-tasks-child-container {
        margin-left: 5%;
        width: 90%;
        flex-direction: column;
    }

    .todays-tasks-child-first{
        margin:20px;
        padding: 20px;
        font-size: 0.8rem;
        width: auto;
    }
    .todays-tasks-child-second{
        margin:20px;
        padding: 20px;
        font-size: 0.8rem;
        width: auto;
    }
    .todays-tasks-child-second-content{
        margin-left: 0px;
        width: auto;
    }

    .todays-tasks-title {
        font-size: 1.5rem;
    }

    .todays-tasks-subtitle {
        font-size: 1rem;
        margin-top: 20px;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .todays-tasks-child-first-content{
        width: auto;
    }
    .visible{
        width:auto;
    }
    .todays-tasks-child-first {
        width:auto;
        height:400px;
        margin: 0px;
        font-size: 0.7rem;
    }

    .todays-tasks-title {
        font-size: 1.2rem;
        display: none;
    }

    .todays-tasks-subtitle {
        font-size: 1rem;
        margin-top: 15px;
    }
    .todays-tasks-child-first-content-description{
        color: var(--color-white);
        font-size: 0.9rem;
        font-family: var(--font-family-base);
    }
    .todays-tasks-child-first-content-date{
        font-size: 0.8rem;
        font-family: var(--font-family-official);
    }
    .todays-tasks-child-second-content img {
        max-width: 90%;
        height: auto; 
    }
}
