@import 'style.css';

:root {
    --background-self-development-image: url('../images/Logo/Light-cyan.png');
}

.self-development-container {
    /*background-image: var(--background-self-development-image);
    background-size: cover;*/
    box-sizing: border-box;
    border: 1px solid transparent;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    margin-top: 1px;
    background-image: url('../images/Unsplash/white-snow.jpg');
    background-size: cover;
}

.self-development-child-container {
    box-sizing: border-box;
    padding: 0px;
    margin-left: 0px;
    display: flex;
    width: auto;
    justify-content: space-between;
}
.self-development-title {
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-official);
}

.self-development-subtitle {
    font-size: 0.9rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-base);
}
.content-title{
    font-size: 1.2rem;
    color: var(--color-white);
    text-align: left;
}

.development-title {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-official);
    color: var(--color-white)
}
.development-subtitle{
    font-family: var(--font-family-base);
    font-size: 0.9rem;
}
.self-visible{
    background-color: var(--transparent-black-new);
    width:auto;
    padding:5px;
}
/*first child*/
.self-development-first-child {
    width:500px;
    height:500px;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 0px solid;
    border-radius: 0px;
    color: var(--color-white);
    background-color: var(--transparent-black);
    overflow-y: auto;
    justify-content: center;
}

.self-development-child-first-content {
    box-sizing: border-box;
    width: 300px;
    border: none;
    margin: 20px;
    padding:5px;
    border-radius: 5px;
    background-color: var(--transparent-black-new);
    opacity:90%;
}

.self-development-child-first-content-title {
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: var(--font-family-base);
    text-align: left;
}
.self-development-child-first-content-date{
    color: var(--color-white-new);
    font-size: 0.8rem;
    font-family: var(--font-family-base);
    text-align: center;
}
/*third child*/
.self-development-third-child {
    width:400px;
    height:500px;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: var(--color-white);
    background-color: transparent;
    overflow-y: auto;
}

.self-development-child-third-content {
    box-sizing: border-box;
    width: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.self-development-visible{
    background-color: var(--transparent-black);
    width:auto;
    border-radius: 5px;
    padding:5px;
    margin-bottom:5px;
    margin-top: -10px;
}

.self-development-child-third-content:hover {
    transition: opacity 0.2s ease-in;
    opacity: 90%;
}

.self-development-child-third-content-title {
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: var(--font-family-base);
}
/*Todays*/
.todays-tasks-child-second {
    width: 350px;
    height:480px;
    padding:0px;
    border: 0px solid;
    border-radius: 0px;
    background-color: var(--color-white);
    overflow-y: auto;
}
.todays-tasks-child-second-content{
    box-sizing: border-box;
    display: block;
    padding:10px;
    width:330px;
    height:auto;
}
.todays-tasks-child-second-content:hover {
    opacity: 80%;
    transition: 0.2s ease-in;
}
.todays-tasks-child-second-content-title{
    color: var(--color-black);
    font-size: 0.8rem;
    font-family: var(--font-family-base);
    text-align: center;

}
.todays-tasks-child-second-content img {
    max-width: 100%;
    height: auto; 
}

/**@media**/

@media (max-width: 768px) {
    .self-development-container {
        padding: 0px;
    }

    .self-development-child-container {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .self-development-third-child {
        width:auto;
        height: auto;
        padding: 20px;
        font-size: 0.8rem;
        margin-bottom: 1px;
    }

    .self-development-first-child {
        width:auto;
        height: auto;
        padding: 20px;
        font-size: 0.8rem;
    }

    .self-development-title {
        font-size: 1.5rem;
    }

    .self-development-subtitle {
        font-size: 0.9rem;
        margin-top: -20px;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .self-development-container {
        padding: 0px;
        margin:0px;
        background-image: url(../images/Unsplash/pc.jpg);
        background-size: cover;
    }

    .self-development-child-container {
        box-sizing: border-box;
        margin-left: 0;
        padding: 0px;
        flex-direction: column;
        width: auto;
    }
    
    .self-development-first-child {
        width:auto;
        height: auto;
        font-size: 0.7rem;
        overflow-y: auto;
        margin: 0px;
        margin-bottom: 1px;
        background-color: var(--transparent-black);
    }
    .self-development-child-first-content{
        width: auto;
        margin: 0px;
    }
    .self-development-third-child {
        width:auto;
        padding: 0px;
        font-size: 0.7rem;
        margin:0px;
        margin-bottom: 2px;
        padding-bottom: 10px;
        background-color: transparent;
    }
    .self-development-child-third-content{
        width: auto;
    }

    .self-development-title {
        font-size: 1.5rem;
    }
    .self-development-title2 {
        font-size: 1.5rem;
        color: var(--color-black);
    }

    .self-development-subtitle {
        font-size: 0.9rem;
        margin-top: 15px;
    }
    .self-visible{
        background-color: var(--transparent-black-new);
        margin-bottom: 1px;
    }
    .productivity-visible{
        width:auto;
        background-color: var(--transparent-black-vary);
    }
}
