:root {
  --color-black: #090909;
  --font-family-title: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-size-xxx-large: 6rem;
  --font-weight-bold: 700;
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
  --foreground-color:#ffffff;
}
.section-title2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-bold);
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}
body, html {
    height: 100%;
    margin: 0;
    background-color: var(--color-black);
  }
  .section{
    border:2px;
    padding:20px;
    margin:0px;
    box-sizing: border-box;
    background-color:black;
    color: var(--foreground-color);
    text-align: center;
    width:100%;
    font-family: var(--font-family-global);
}
  
  .curtain {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .curtain-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: width 2s ease;
    overflow: hidden; 
  }
  
  .top{
    position: absolute;
    width: 100%;
    height: 50%;
    background: rgb(38, 106, 106); /* Change this to your desired background color */
    transition: height 0.5s ease-in-out;
  }
  .bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #090909; /* Change this to your desired background color */
    transition: height 0.5s ease-in-out;
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  

  @keyframes slide-in-out-Animation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
      }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }

  }  
  .slide-in-out {
    animation: slide-in-out-Animation 7s ease-in-out forwards;
  }



  @media screen and (max-width: 767px) {
    .top, .bottom {
      height: 40%; /* Adjust the height for smaller screens */
    }
  
    .section-title2 {
      font-size: 4rem; /* Adjust font size for better readability */
    }
    
    .slide-in-out {
      animation: slide-in-out-Animation 5s ease-in-out forwards; /* Modify animation duration */
    }
  }