<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
    <link rel="stylesheet" href="../static/css-project-page/account.css">
    <link rel="stylesheet" href="../static/css-project-page/Hero.css">
    <link rel="stylesheet" href="../static/css-project-page/style.css">
    <link rel="stylesheet" href="../static/css-project-page/button.css">
    <title>My Account</title>
</head>
<body>
    <div class="Hero-container">
        <header>
            <div class="child-Hero-container">
                <div class="Logo">
                    <a href="{{ url_for('dashboard') }}"><img src="../static/images/Logo/dark-blue-light.png" alt="Logo" width="120px" height="auto"></a>
                </div>
                <nav id="nav-links" class="hide-links">
                    <!-- Hamburger icon for screens with max-width: 460px -->
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <!-- Normal navigation for screens larger than 460px -->
                    <ul class="nav-list">
                        <li><a href="{{ url_for('dashboard') }}">Home<span></span></a></li>
                        <li><a href="{{ url_for('login') }}">Log out<span></span></a></li>
                    </ul>
                </nav>
                <script src="../static/js/hamburger-menu.js"></script>                    
            </div>
        </header>
    </div>

    <div class="my-account-container">
        <form method="POST" action="{{ url_for('my_account') }}">
            <div class="my-account-details">
                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" name="first_name" value="{{ user.first_name }}" class="editable-input" required>
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" name="last_name" value="{{ user.last_name }}" class="editable-input" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" class="editable-input" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" class="editable-input" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="date-of-birth">Date of Birth:</label>
                    <input type="date" id="date-of-birth" name="dob" value="{{ user.dob }}" class="editable-input" required>
                </div>
                <br>
                <button type="submit" class="button-custom">Save Details</button>
                <br>
                <br>
            </div>
        </form>        
        <a href="{{ url_for('delete_user_route', user_id=user.id) }}"><button class="button-official" type="submit" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button></a>
    </div>   
    
</div>
</body>
</html>
