<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
  <title>Create account</title>
  <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
  <link rel="stylesheet" href="../static/css/Account/create-account.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/index/button.css">
</head>
<body>
  <div class="create-account-container">
      <h3 class="title">Almost done😊</h3>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash-messages">
            {% for message in messages %}
              <div class="flash-message">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('create_account_password') }}" method="post">
        <label for="password">New password:</label>
        <input type="password" id="password" name="password" required>
    
        <label for="confirm_password">Confirm password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    
        <button class="button-custom" type="submit">Create account</button>
    </form>
  </div>
</body>
</html>
