<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
  <title>Create account</title>
  <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
  <link rel="stylesheet" href="../static/css/Account/create-account.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/index/button.css">
</head>
<body>
  <div class="create-account-container">
    <h3 class="title">We are happy to have you</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('create_account_names') }}" method="post">
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name="firstname" required>
  
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name="lastname" required>
  
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>

      <h3 class="title">Our first event on the calender!</h3>
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" required>
      <br>
  
      <button class="button-custom" type="submit">Next</button>
    </form>  
  </div>  
</body>
</html>
