<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="stylesheet" href="../static/css-project-page/registration_success.css">
  </head>
  <body>
    <div class="centered-div">
      <h1 class="title">😓</h1>
      <h1 class="subtitle">Feature still under development</h1>
      <br>
      <h1 class="subtitle temp-message" id="temp-message">Redirecting to dashboard in...</h1>
    </div>
    <script src="../static/js/Feature_unavailable.js"></script>
  </body>
</html>