:root{
    /****Universal****/
    --color-black: black;
    --color-black-new:#090909;
    --color-white:#ffffff;
    --color-white-new:#f5f5f5;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --color-grey:rgb(70, 68, 68);
    --color-jungle:#0c2416;
    --color-pink:rgb(241, 221, 224);
    --color-purple:#250036;
    --color-light-purple:#e4d1ec;
    --color-light-blue: #ADD8E6;
    --color-alice-blue:#F0F8FF;   
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-official: 'Times New Roman', Times, serif;
    /**Child-Universal**/
    --body-background-color: var(--color-white);
}
body, html {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
}
