@import 'style.css';
.Hero-container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin:0px;
    width:auto;
    height: auto;
    padding:20px;
    border: none;
}
.child-Hero-container{
    box-sizing: border-box;
    position: relative;
    padding:10px;
    border: none;
    border-radius: 5px;
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-black);
    background-color: #250036;

}
a{
    color: var(--primary-color);
    text-decoration: none; /*to avoid underlining*/
}
 a:hover{
    text-decoration: none;
}
nav a {
    position: relative;
    transition: 0.5s;
    color: var(--color-jungle);
    text-decoration: none; 
}
nav ul {
    margin: 0px;
    padding: 0px;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
li{
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding:20px;
    margin:10px;
    font-family: var(--font-family-base);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
}
a:hover{
    transform: scale(1.1, 1.1);
}
ul:hover > a li:not(:hover){
    filter: blur(10px);
    transform: scale(0.9, 0.9);
    background-color: var(--transparent-black);
}
.nav-icons{
    width:30px;
    height: auto;
}

/**@media**/

@media (max-width: 768px) {
    .Hero-container {
        width: auto;
        padding: 5px;
    }

    .child-Hero-container {
        width: auto;
    }

}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .Hero-container {
        padding: 0px;
        margin: 0px;
        flex-direction: column-reverse;
    }

    .child-Hero-container {
        width:350px;
        height: auto;
        padding: 20px;
        margin: 0px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ul{
        flex-direction: row;
    }
    li{
        margin: 0 20px;
        width: 60px;
    }
    .nav-icons{
        width: 20px;
    }
    .nav-list li {
        padding: 10px;
    }

}
