.dashboard{
    box-sizing: border-box;
    width:700px;
    height: auto;
    padding:20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-white-new);
}
.Dash-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Dash-icon{
    width:30px;
    height: 30px;
    margin-left: 10px;
}
.dashboard-title{
    font-size: 2rem;
    font-family: var(--font-family-base);
}
.dashboard-subtitle{
    font-size: 1.5rem;
    font-family: var(--font-family-base);
}
.dashboard-content{
    box-sizing: border-box;
    width:auto;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
}
.dashboard-control{
    display: flex;
    flex-direction: row;
}
.dashboard-details{
    margin: 10px;
    box-sizing: border-box;
    width:300px;
    height:auto;
    border:none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:10px;
}
.first,.forth{
    background-color: var(--color-light-purple);
}
.second,.third {
    background-color: var(--color-alice-blue);
}

.dashboard-details:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.info-dashboard{
    width: 230px;
    height: auto;
}
.info-title{
    font-size: 0.9rem;
    font-family: var(--font-family-base);
}
.info-subtitle{
    font-size: 0.8rem;
    font-family: var(--font-family-base);
}
.dashboard-icon{
    width:30px;
    height:30px;
    margin-top: 15px;
}
@media (max-width: 460px) {
    .dashboard{
        width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .dashboard-control{
        flex-direction: column;
    }
}