@import 'style.css';
:root{
    --button-official-padding: 20px;
    --button-official-border: solid 2px var(--color-jungle);
    --button-official-border-radius:4px;
    --button-official-color: var(--color-black);
    --button-official-background-color: var(--color-jungle);
    --button-official-hover-background: var(--color-jungle);
    --button-official-hover-color: var(--color-white);
    --button-custom-padding: 10px;
    --button-custom-border: none;
    --button-custom-border-radius:4px;
    --button-custom-color: var(--color-black);
    --button-custom-background-color: var(--primary-color);
    --button-custom-hover-transition: opacity 0.3s ease-in-out;
    --button-custom-hover-opacity: 1.0;

}
.button-official {
    padding: var(--button-official-padding);
    background-color: var(--button-offical-background-color);
    color: var(--button-official-color);
    border: var(--button-official-border);
    border-radius: var(--button-official-border-radius);
    cursor: pointer;
}
.button-official:hover {
   background-color: var(--button-official-hover-background);
   color: var(--button-official-hover-color);
   border: none;
}
.button-custom {
    padding: var(--button-custom-padding);
    border: var(--button-custom-border);
    background-color: var(--button-custom-background-color);
    color: var(--button-custom-color);
    border-radius: var(--button-custom-border-radius);
    cursor: pointer;
    transition: var(--button-custom-hover-transition);
}
.button-custom:hover {
    opacity: var(--button-custom-hover-opacity);
}

/*Hamburger navigation bar */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    margin: 3px 0;
}
@media (max-width: 460px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 200px;
        width: auto;
        height: auto;
        padding:0 20px;
        background-color: var(--transparent-black);
        z-index: 1;
    }
    .nav-list.show {
        display: block;
    }

    .nav-list li {
        padding: 10px;
    }
}
