.dashboard{
    box-sizing: border-box;
    width:700px;
    height: 610px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: var(--color-jungle);
}
@media (max-width: 460px) {
    .dashboard{
        width: 370px;
    }
}