:root{
    /****Universal****/
    --primary-color:rgb(131, 84, 202);
    --transparent-primary:rgba(131, 84, 202, 0.6);
    --color-black: black;
    --color-black-new:#090909;
    --color-white:#ffffff;
    --color-white-new:#ccc;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --color-grey:rgb(70, 68, 68);
    --color-jungle:#0c2416;
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-official: 'Times New Roman', Times, serif;
    /**Child-Universal**/
    --body-background-color: var(--color-white);
}
body, html {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
}
