@import url('../style.css');
body{
    display: flex;
    align-items: center;
    background-image: url(../../images/Logo/Light-purple.png);
    background-size: cover;
    margin:0;
    height:100vh;
}
.welcome-container{
  margin:20px;
    width: auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-black);
}
.welcome-child-container{
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: var(--font-family-base);    
}
.welcome-title{
    color: var(--primary-color);
    font-family: var(--font-family-title);
}
.login-title{
    font-size: 0.8rem;
    font-family: var(--font-family-base);
  }
@media (max-width: 768px) {
    .welcome-container {
      width: auto;
    }
  }
  @media (max-width: 460px) {
    .welcome-container {
        width: 250px;
      }
  }
