@import '../../Assets/css/style.css';
.web-structure-image{
    width:400px;
    height: auto;
}
.architecture-image{
    width: 300px;
    height:auto;
}
@media (max-width: 460px) {
    .web-structure-image{
        width:auto;
        max-width: 100%;
    }
    .architecture-image{
        width:auto;
        max-width: 100%;
    }
}